<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Send Message to LINE Notify</title>
</head>
<body>
  <h1>Send Message to LINE Notify</h1>
  <form action="/send-message" method="post">
    <label for="message">Message:</label><br>
    <input type="text" id="message" name="message">
    <br><br>
    <button type="submit">Send Message</button>
  </form>
</body>
</html>
